
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 50px;
}
.name-color{
    color: #e96844;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 2%;
}
.half-width img{
    width: 100%;
}
.text-color{
    color: #3D3A4C;
}
.section{
    height: 500px;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(270deg, lightsalmon,tomatoS);
    background-color:  #e96844;
    padding: 5px 15px;
    color: white;
}
.third-part{
    height: 500px;
    clear: both;
}
.align{
    text-align: center;
color:#3D3A4C ;
}



 
h2{
    text-align: center;
    font-size: 35px;
    padding: 50px;
}
.project-section{
    
    width: 100%;
    height: 50%;
    background-color: rgba(193, 192, 192, 0.3);
}

.project img{
    width: 100%;
    height: 40%;
    
}

.project{
    width: 20%;
    margin-left: 6%;

    float: left;
    margin-right: 2%;
        padding: 2%;
}

.project-experience{
    box-shadow: 2px 2px 40px gray;
    border-radius: 7px;
    background-color: white;
    
    
}
 

.forth-part{
 height: 500px;
 clear: both;
 margin-top: 230px;
 
}

#last-image{




}

